@font-face {
    font-family: 'aclonica';
    src: url('/public/font/Aclonica/Aclonica-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'dangrek';
    src: url('/public/font/Dangrek/Dangrek-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'outfit';
    src: url('/public/font/Outfit/Outfit-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'poppins';
    src: url('/public/font/Poppins/Poppins-Regular.ttf') format('truetype');
}